
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* debug */

.debug header {
    background-color: aqua;
    min-height: 80px;
    padding: 20px 0;
}

.debug main {
    background-color: lightgrey;
    min-height: 800px;
}

.debug footer {
    background-color: rgb(71, 71, 71);
    min-height: 300px;
}

.debug [class^='col'] {
    border: 3px dotted black;
    padding: 8px;
}

.debug .row {
    border: 2px solid salmon;
}

/* debug */

/* header */

.container_h {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(212, 156, 70);
}

.row {
    display: flex;
}

.row-col-3 > .col {
    flex-basis: calc(100% / 3);
}

.row-col-3 > .link {
    flex-basis: 66%;
}

.logo {
    text-align: left;
}

.link {
    text-align: center;
}

.login {
    text-align: end;
}

/* opening */

.container_opening {
    margin: 0 auto;
    padding: 40px 200px;
    background-color: rgb(56, 56, 177);
}

.opening_box {
    background-color: rgb(159, 107, 207);
    padding: 40px;
    min-height: 300px;
    border: 3px dotted red;
    max-width: 600px;
    margin: 0 auto;
}

/* sezioni centrali */

/* layout pic+text */

.background_one_three{
    background-color: white;
}

.container_section {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0;
}

.row-col-2 > .figure {
    flex-basis: 60%;
    min-height: 400px;
    background-color: cornflowerblue;
}

.row-col-2 > .text_one {
    flex-basis: 40%;
    min-height: 400px;
    background-color: pink;
}

.reverse {
    flex-direction: row-reverse;
}

/* layout pic+text ended */

.container_end {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 900px;
}

.content_end {
    background-color: rgb(31, 121, 31);
    min-height: 900px;
    border: 3px dotted blue;
}

/* footer start */

.foot_section_one {
    border-bottom: 1px solid white;
}

.container_foot {
    margin: 0 auto;
    padding: 10px 0px 20px;
    max-width: 900px;
}

.row-col-5> .col {
    flex-basis: calc(100% / 5);
    min-height: 400px;
    background-color: rgb(16, 124, 73);
}

.row-col-5> .language {
    flex-basis: 40%;
    background-color: tomato;
}

/* footer two */

.container_foot_two {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0px 0px;
}

.container_foot_two > .row {
    background-color: aqua;
}

.row-col-foot {
    justify-content: space-between;
    padding: 10px 0px;
}

.logo_end {
    background-color: pink;
}

.register {
    background-color: pink;
}

